@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Secular+One&display=swap');


$Primary: #0a0524; 
$Secondary: #f3f2fd;
$Primary-Button: #241386;
$Secondary-Button: #ffffff;
$Accent: #2a169c;



$Primary-Dark: #eee4f1;
$Secondary-Dark: #0f0911;
$Primary-Button-Dark: #1870af;
$Secondary-Button-Dark: #f2f3fd;
$Accent-Dark: #0c1255;



